@media only screen and (min-width: 768px) {
  .flex{
    flex-direction: row !important;
  }
  .avatar-box{
    padding-top: 0;
    order: 2 !important;
    width: 50%;
  }
  .bio-box{
    padding-top: 0;
    margin-top: 0;
    order: 1;
  }
  .toolbox{
    margin: 0;
  }
  .m-greeting {
    margin-top: 0;
  }
  .sm-space-item-top {
    padding-top: 0
  }
  .sm-space-item-btm {
    padding-top: 0;
  }
}

.sm-space-item-top {
  padding-top: 4rem;
}
.sm-space-item-btm {
  padding-bottom: 2rem;
}
.avatar-box{
  order: 2;
}

.bio-box{
  order: 1;
}

.toolbox{
  margin: 1em 0 !important;
}

