@media only screen and (min-width: 768px) {
  #project-section-grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.item-onHover{
  cursor: pointer;
  
}

#box{
  height: 50vh;
  width: 100%;
}
.project-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
